.header__bottom {
  display: flex;
  align-items: center;
  padding-top: 5px;
  height: 40px;
  color: white;
  background-color: #232f3e;
}
.header__address {
  display: flex;
}
.header__address-icon {
  vertical-align: middle;
}
.header__address-icon > .MuiSvgIcon-root {
  font-size: 2rem;
}

.header__bottom-nav {
  display: flex;
  flex: 1;
  justify-content: center;
}

.header__bottom-nav > span {
  margin-left: 10px;
  font-size: 14px;
  font-weight: 600;
}
.header__bottom-app > img {
  height: 50px;
  width: 100%;
  margin: 10px;
}
